/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 10px;
  color: var(--text-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  min-height: 668px;
}

.header__decorated-element {
  text-transform: uppercase;
  position: absolute;
  display: flex;
  margin: 0 10px 0 0;
  color: var(--accent-color-rec);
  font-size: 18px;
  gap: 9.5px;
  align-items: center;
  inset-inline-end: 9px;
  inset-block-start: 10px;
}

.header__decorated-element::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--accent-color-rec);
  box-shadow: 0 0 4px 2px var(--accent-color-rec);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  margin: 0;
}

.decorated-zone::before {
  content: '';
  position:absolute;
  border-top: 1px solid var(--accent-color-dz);
  border-right: 1px solid var(--accent-color-dz);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position:absolute;
  border-top: 1px solid var(--accent-color-dz);
  border-right: 1px solid var(--accent-color-dz);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .decorated-zone {
    position: relative;
    margin: 10px 10px 0 0;
  }
  
  .header__decorated-element {
    margin: 2px 10px 0 0;
    inset-inline-end: 0;
    inset-block-start: 0;
  }

  .decorated-zone::before {
    inset-inline-end: 0;
    inset-block-start: 0;
  }

  .decorated-zone::after {
    inset-block-end: 40px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone {
    margin: 10px 12px 0 0;
  }
}

.header__theme-menu {
  margin: 5px 0 0 0;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 58px 0 0 0;
  align-items: end;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .header__theme-menu {
    padding: 20px 0 0 0;
  }

  .header__theme-menu-list {
    margin: 151px 0 20px;
    padding: 0;
    align-items: end;
    flex-direction: column;
    gap: 12px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    padding: 0 0 0 11px;
  }

  .header__theme-menu-list {
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 5px;
  }
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px 0 13px;
  outline: transparent;
  color: var(--menu-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
  text-decoration: none;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  pointer-events: none;
}

@media (min-width: 1024px) {
  .header__theme-menu-button {
    padding: 1px 17px 0 17px;
  }
}

.title-container {
  padding: 69px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .title-container {
    padding: 162px 0 10px;
    gap: 54px;
  }
}

@media (min-width: 1024px) {
  .title-container {
    padding: 287px 0 36px;
  }
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-mobile);
  line-height: 82.5%;
  align-self: start;
  margin: 0;
  text-shadow: 4px 4px 0 var(--title-color-shadow);
}

@media (min-width: 768px) {
  .header__title {
  padding: 0 0 115px 0;
  margin: -1%;
  }
}

@media (min-width: 1024px) {
  .header__title {
    padding: 0 0 70px 0;
    font-size: var(--font-size-desktop);
  }
}

.header__title-text {
  align-self: flex-end;
  width: 100%;
  margin: 48px 0 0;
}

@media (min-width: 768px) {
  .header__title-text {
    align-self: flex-end;
    width: 49.5%;
    margin: 0;
  }
}

/*Основной блок*/
.main {
  margin: 25px 0 0;
  padding: 0 ;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 768px) {
  .main {
    margin: 40px 0 0;
    padding: 0 10px 0 10px;
    gap: 80px;
  }
}

/*Секция "Почему..."*/
.section-why {
  display: grid;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .section-why {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    row-gap: 0;
  }
}

@media (min-width: 1024px) {
  .section-why {
    grid-template-columns: 315px 1fr;
  }
}

.section-why__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

/*Секция "Что..."*/
.section-what {
  margin: 0;
}

.section-what__list {
  margin: 20px 0 0 0;
  display: grid;
  grid-template-rows: 314px 314px 384px;
  gap: 20px;
}

@media (min-width: 768px) {
  .section-what {
    margin: 0;
  }

  .section__header-custom {
    margin: 0 532px 20px 0;
  }

  .section-what__list {
    grid-template-rows: 174px 174px 197px;
    gap: 19px;
  }
}

@media (min-width: 1024px) {
  .section__header-custom {
    margin: 0 700px 20px 0;
  }

  .section-what__list {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 315px);
    column-gap: 20px;
  }
}

/*Секция "Как..."*/
  .section-how {
    margin: 0;
    display: grid;
    row-gap: 21px;
  }

  @media (min-width: 768px) {
    .section-how {
      margin: 0;
      grid-template-columns: 236px 1fr;
      column-gap: 20px;
      row-gap: 0;
    }
  }

  @media (min-width: 1024px) {
    .section-how {
      grid-template-columns: 315px 1fr;
    }
  }

  .section-how__list-container-title {
    margin: 0;
  }

  .section-how__list {
    margin: 20px 0 0;
  }

/*Секция "Галерея"*/
.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
}

.gallery__img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 768px) {
  .gallery {
    margin: 0 0 60px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  }

  .gallery__img:first-of-type {
    grid-column: span 2;
  }

  .gallery__img:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__img:nth-last-of-type(3) {
    grid-row: span 2;
  }

  .gallery__img:last-of-type {
    grid-column: span 2;
  }
}

/*"Футер"*/
.footer {
  margin: 42px 0 0;
  padding: 257px 4px;
  block-size: 100vh;
  min-height: 668px;
}

.footer__text {
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-mobile);
}

.decorated-zone__footer {
  position: relative;
}

.decorated-zone__footer::before {
  content: '';
  position:absolute;
  border-top: 1px solid var(--accent-color-dz);
  border-right: 1px solid var(--accent-color-dz);
  inline-size: 25px;
  block-size: 25px;
  right: 0px;
  inset-block-start: 7px;
}

.decorated-zone__footer::after {
  content: '';
  position:absolute;
  border-top: 1px solid var(--accent-color-dz);
  border-right: 1px solid var(--accent-color-dz);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 1px;
  inset-block-end: 15px;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .footer {
    margin: 0;
    padding: 435px 20px;
  }

  .footer__text {
    font-size: var(--font-size-desktop);
  }
  
  .decorated-zone__footer::before {
    right: 10px;
    inset-block-start: 20px;
  }
  
  .decorated-zone__footer::after {
    inset-inline-start: 11px;
    inset-block-end: 20px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 282px 20px;
  }
  
  .decorated-zone__footer::after {
    inset-inline-start: 10px;
  }
}

/*Настройки*/
.section__title {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}

.section-how__list-title-decor {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  margin: 20px 0 0;
}

.section__header {
  color: var(--accent-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__text {
  margin: 10px 0 0 0;
  line-height: 130%;
}