/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  block-size: 100vh;
  min-height: 668px;
  padding: 0 10px;
}

.header__decorated-element {
  text-transform: uppercase;
  position: absolute;
  display: flex;
  margin: 10px 10px 0 0;
  color: var(--accent-color-rec);
  font-size: 18px;
  gap: 9.5px;
  align-items: center;
  inset-inline-end: 10px;
  inset-block-start: 0px;
}

@media (min-width: 768px) {
  .header__decorated-element {
    margin: 20px 20px 0 0;
  }
}

.header__decorated-element::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--accent-color-rec);
  box-shadow: 0 0 4px 2px var(--accent-color-rec);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position:absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color-dz);
  border-bottom: 1px solid var(--accent-color-dz);
  left: 10px;
  bottom: 10px;
}

.decorated-zone::after {
  content: '';
  position:absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-dz);
  border-right: 1px solid var(--accent-color-dz);
  top: 10px;
  right: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu {
  display: grid;
  margin: 0;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  justify-self: end;
  margin: 40px 0 0;
  align-items: end;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    margin: 99px 10px 0 0;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    padding: 20px 0 0 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    margin: 0;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
  }
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px 0 13px;
  outline: transparent;
  color: var(--menu-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
  text-decoration: none;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  pointer-events: none;
}

@media (min-width: 1024px) {
  .header__theme-menu-button {
    padding: 1px 14px 0 14px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

@media (min-width: 768px) {
  .title-container {
    gap: 161px;
  }
}

@media (min-width: 1024px) {
  .title-container {
    gap: 115px;
  }
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-mobile);
  line-height: 82.5%;
  align-self: start;
  margin: 36px 0 0 0;
  text-shadow: 4px 4px 0 var(--title-color-shadow);
}

@media (min-width: 768px) {
  .header__title {
    margin: 86px 0 0 -1.4%;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: var(--font-size-desktop);
    margin: 143px 0 0 -1%;
  }
}

.header__title-text {
  align-self: flex-end;
  width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .header__title-text {
    justify-self: end;
    width: 49%;
    margin: 3px 9px 2px 0;
  }
}

@media (min-width: 1024px) {
  .header__title-text {
    margin: 0 10px 2px 0;
  }
}

/*Основной блок*/
.main {
  margin: 40px 0 40px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 768px) {
  .main {
    margin: 60px 0 0 0;
    padding: 0 20px;
    gap: 80px;
  }
}

@media (min-width: 1024px) {
  .main {
    margin: 60px 0 0 0;     
  }
}

/*Секция "Почему..."*/
.section-why {
  display: grid;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .section-why {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    row-gap: 0;
  }
}

@media (min-width: 1024px) {
  .section-why {
    grid-template-columns: 315px 1fr;
  }
}

.section-why__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

/*Секция "Что..."*/
.section-what {
  margin: 0;
  display: grid;
  gap: 20px;
}

.section-what__list {
  display: grid;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .section__header-custom {
    margin: 0 532px 0 0;
  }
}

@media (min-width: 1024px) {
  .section__header-custom {
    margin: 0 700px 0 0;
  }

  .section-what__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

/*Секция "Как..."*/
  .section-how {
    margin: 0;
    display: grid;
    row-gap: 21px;
  }

  @media (min-width: 768px) {
    .section-how {
      grid-template-columns: 236px 1fr;
      column-gap: 20px;
      row-gap: 0;
    }
  }

  @media (min-width: 1024px) {
    .section-how {
      grid-template-columns: 315px 1fr;
    }
  }

  .section-how__list-container-title {
    margin: 0;
  }

  .section-how__list {
    margin: 20px 0 0;
  }

/*Секция "Галерея"*/
.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
}

.gallery__img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 768px) {
  .gallery {
    margin: 0 0 60px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  }

  .gallery__img:first-of-type {
    grid-column: span 2;
  }

  .gallery__img:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__img:nth-last-of-type(3) {
    grid-row: span 2;
  }

  .gallery__img:last-of-type {
    grid-column: span 2;
  }
}

/*"Футер"*/
.footer {
  position: relative;
  display: grid;
  margin: 0;
  block-size: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 2px 0 0 0;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-mobile);
}

@media (min-width: 768px) {
  .footer__text {
    font-size: var(--font-size-desktop);
    margin: 0 0 0 3px;
  }
} 

/*Настройки*/
.section__title {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}

.section-how__list-title-decor {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  margin: 20px 0 0;
}

.section__header {
  color: var(--accent-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.section__link:focus {
  text-decoration: none;
  outline: 1px solid var(--text-color);
}

.section__text {
  margin: 10px 0 0 0;
  line-height: 130%;
}